header{
    background: white url("../image/airbnn_logog.PNG");
    background-repeat: no-repeat;
    background-position: 20px center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}